.Building1x1{
    display: block;
    text-align: center;
    width: 100px;
    height: 100px;
    &:hover {
        width: 150px;
        height: 150px;
        transition: all 1s ease-out;
    }
}

.BuildingOnBoard {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(cyan,limegreen);
}